body
    margin 0
    padding 64px
main
    display block
    max-width 520px
    margin 0 auto
    padding 48px
    font-family $sans
    box-shadow 0 0 20px 0 rgba(52, 54, 64, 0.15)
    .nav
        display block
        margin 0 auto
        margin-bottom 24px
        width 180px
        height 8px
        font-size 0
        background-color #DDDDDD
        border-radius 16px
        overflow hidden
        box-shadow 0 20px 30px -5px rgba(67, 207, 169, 0.5)
        &__item
            display inline-block
            width 33.3%
            height 100%
            font-size 0
            line-height 0
            background-color: transparent
            transition background-color 0.8s
            &--active
                background-color: #41cda8
                transition background-color 0.8s
    .step
        display block
        margin 0 auto
        .text
            margin 0
            padding 0
            font-size 20px
            line-height 1.5
            color #333333
            font-weight 300
            &--title
                margin-bottom 8px
        .label
            display block
        input
            display none
        button
            display none
        &--folder
            .input
                display block
                margin-bottom 16px
                background none
                background-image none
                background-color transparent
                border-top none
                border-left none
                border-right none
                border-bottom 1px solid #FFFFFF
                transition border-color 0.4s
                &:hover
                    outline none
                    border-bottom-color #333333
                    transition border-color 0.4s
                &:focus,
                &:active
                    outline none
                    border-bottom-color #999999
                    transition border-color 0.4s
        &--loader
            .input
                display block
                position relative
                width 100%
                height 80px
                margin-bottom 16px
                font-size 0
                line-height 0
                opacity 0
                background none
                background-image none
                background-color transparent
                border none
                cursor pointer
                transition height 0.4s
                &:hover,
                &:active,
                &:focus
                    outline none
            .label
                position relative
                cursor pointer
                &::after
                    display block
                    position absolute
                    content ''
                    top calc(100% + 8px)
                    width 100%
                    height 80px
                    background-color rgba(0, 0, 0, 0.05)
                    border 2px dashed rgba(0, 0, 0, 0.05)
                    border-radius 2px
                    transition height 0.4s, border 0.4s, background-color 0.4s
        &--result
            .input
                display block
                position relative
                width 100%
                height 0px
                margin-bottom 16px
                font-size 0
                line-height 0
                opacity 0
                background none
                background-image none
                background-color transparent
                border none
                cursor pointer
                transition height 0.4s
                &:hover,
                &:active,
                &:focus
                    outline none
            .label
                position relative
                cursor pointer
                &::after
                    display block
                    position absolute
                    content ''
                    top calc(100% + 8px)
                    width 100%
                    height 0px
                    background-color rgba(0, 0, 0, 0.00)
                    border 0px dashed rgba(0, 0, 0, 0.05)
                    border-radius 2px
                    transition height 0.4s, border 0.4s, background-color 0.4s
        .files
            display none
        .list
            display block
            margin 0
            margin-bottom 16px
            padding 0
            list-style-type none
            li
                display block
                position relative
                margin 0
                margin-bottom 4px
                padding 0
                padding-left 10px
                font-size 13px
                color: #666666
                &::after
                    display block
                    position absolute
                    content '-'
                    left 0
                    top 0
                    width 16px
                    height 16px
        .button
            margin 0
            padding 10px 16px 14px
            line-height 1
            background none
            background-image none
            background-color #41cda8
            color #FFFFFF
            border none
            border-radius 2px
            box-shadow 0 20px 30px -15px rgba(67, 207, 169, 0.5)
            transition background-color 0.4s, box-shadow 0.4s
            cursor pointer
            &:hover
                background-color darken(#41cda8, 8%)
                transition background-color 0.4s
            &:focus,
            &:active
                background-color darken(#41cda8, 12%)
                transition background-color 0.4s
                outline none
            &:disabled
                background-color lighten(#41cda8, 64%)
                box-shadow none
                transition background-color 0.4s, box-shadow 0.4s
                

                    