html
	box-sizing border-box
	
*,
*:before,
*:after
	box-sizing inherit

body
	font-family $sans
	min-height 100vh
	
.visually-hidden
	visibility hidden
	margin 0
	padding 0
	font-size 0
	line-height 0
	
.hidden
	display none